
<app-dropdown-menu></app-dropdown-menu>

<nav class="navbar-be">		          
  <div class="navbar-be">
      <ul class="navbar-nav-be">          
          <li class="nav-item-be">
            <a class="nav-link-be" href="#">Conheça o projeto</a>
          </li>
          <li class="nav-item-be">
            <a href="" class="nav-link-be" data-toggle="modal" data-target="#exampleModal" 
            data-whatever="@mdo">Login</a>
            <app-dialog-login></app-dialog-login>
          </li>
      </ul>
  </div>
</nav>