<nav class="navbar navbar-default navbar-static" id="navbar-be">	
	
		
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" class="dropdown">Boletim Escolar</a>
				
        <!-- List 0 -->
				<ul class="dropdown-menu dropdown-menu-large row">

          <!-- List 1 -->
					<li class="col-sm" class="column">
						<ul>
                         <li class="dropdown-header">Secretaria</li>
							<li><a href="#">View Logs</a></li>
							<li><a href="#">Dashboards</a></li>
                            <li><a href="#">Log Monitors</a></li>
                            <li><a href="#">Saved Searches</a></li>
                            <li><a href="#">Account usage</a></li>
						</ul>
					</li>

          <!-- List 2 -->
                  <li class="col-sm" class="column">
                    <ul>
                      <li class="dropdown-header">Mais opções</li>
                      <li><a href="#">Upload logs to Stackify</a></li>
                                    <li><a href="#">Log searching basics</a></li>
                      <li><a href="#">Log monitoring 101</a></li>
                                    <li><a href="#">Advanced logging tips</a></li>
                                    <li><a href="#">Smarter logs with #tags</a></li>
                    </ul>
                  </li>

                  <!-- /List 0 -->
				</ul>

</nav>